p {
    font-family: 'Montserrat', sans-serif;
}


ul{ 
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

img.b {
    vertical-align: text-top;
  }
div {
    width: 50%;
    border: 1px solid black;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
div {
    text-align: center;
}
footer {background-color: #92a8d1;}

li{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}